<div class="v-footer navbar-brand">
    <div class="row">
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
          <div class="float-left float-sm-left prev"><a href="#{code}/{prevCh}"><h6>Prev</h6></a></div>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <a href="#home" style="width: 100%;"><h6 class="text-center">Home</h6></a>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-4 float-sm-right">
          <div class="float-right float-sm-right next"><a href="#{code}/{nextCh}"><h6>Next</h6></a></div>
      </div>
    </div>
</div>