<div *ngIf="book">
  <!-- <h1 class="sutra-header" style="text-align: center;">{{book.name}}</h1> -->
    <div *ngIf="book && book.chapters" >
      <mat-card *ngFor="let sutra of book.chapters[chapterNo].sutras" style="background-image: url('./assets/images/background.jpg'); margin: 10px;">
        <mat-card-header>
          <mat-card-title>{{sutra.sutraNo}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="sutra.content"></p>
        </mat-card-content>
      </mat-card>
    </div>
    
</div>
<button (click)="loadMore()">Load more</button>