<div *ngIf="book | async as book ">
  <h1 class="sutra-header" style="text-align: center;">{{book.name}}</h1>
    <mat-card *ngFor="let sutra of chapter.sutras" style="background-image: url('./assets/images/background.jpg'); margin: 10px;">
      <mat-card-header>
        <mat-card-title>{{sutra.sutraNo}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p [innerHTML]="sutra.content"></p>
      </mat-card-content>
    </mat-card>
</div>
<button (click)="loadMore()">Load more</button>