/* @font-face {
  font-family: 'Samarkan';
  src: url('./assets/fonts/samarkan/SAMAN__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.sutra-header {
  font-family: "Samarkan";
  src: url('./assets/fonts/samarkan/SAMAN__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
} */