<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline; width: 100%;">
      <div><button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button></div>
      <div style="flex-grow: 1"><h1><a [routerLink]="['/home']">{{title.toUpperCase()}}</a> | {{subtitle}}</h1></div>
      <div style="flex-grow: 8; display: flex; justify-content: flex-end;">
        <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">settings</i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="language">Language</button>
          <button mat-menu-item [matMenuTriggerFor]="translations">Translations</button>
        </mat-menu>

        <mat-menu #language="matMenu">            
          <button (click)="selectLang(lang.code)" mat-menu-item *ngFor="let lang of selectedBook.availableLanguages">
            <i class="material-icons" *ngIf="selectedLang==lang.code">done</i>{{lang.name}}
          </button>
        </mat-menu>

        <mat-menu #translations="matMenu">            
            <button (click)="selectTranslation(comm.commentator)" mat-menu-item *ngFor="let comm of selectedBook.availableCommentaries">
              <i class="material-icons" *ngIf="selectedTranslations.indexOf(comm.commentator) != -1">done</i>{{comm.commentator}}
            </button>
          </mat-menu>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <app-side-nav></app-side-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


